<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="chap17" version="3.0">
	
	<servlet>
		<servlet-name>DBCPInit</servlet-name>
		<servlet-class>mvjsp.jdbc.loader.DBCPInit</servlet-class>
		<init-param>
			<param-name>jdbcdriver</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/error_view.jsp</location>
	</error-page>
</web-app>